* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

table {
	font-size: 1em;
}

footer {
	font-size: 0.8em;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border:0px;
	color: #434343;
	background-color: #434343;
	height: 1px;
	margin-top:10px;
	margin-bottom:10px;
}

form ul {
	list-style-type: none;
	margin: 0px;
}
form li {
	padding-top: 2px;
	padding-bottom: 2px;
}

input:focus,input[type=search]:focus {
	outline: none;
	border-color: #4D90C7;
	box-shadow: 0 0 5px #4D90C7;
}

input[type="radio"],input[type="checkbox"] {
	vertical-align: middle;
	margin: 0px;
}

input[type="submit"],input[type="button"] {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	border: 1px solid #878787;
	cursor: pointer;
	background-color: #434343;
	box-shadow: 2px 2px 2px #CCCCCC;
	color: white;
	font-size: 1em;
}

table.dataTable {
	font-size: 0.9em;
}

table.dataTable td {
	padding: 0px 0px 0px 5px;
	border: solid 1px #CCCCCC;
	vertical-align: middle;
}

table.dataTable td.details {
	padding-left: 50px;
	padding-bottom: 10px;
	border: 0px;
}

table.dataTable td.expand {
	padding: 0px;
}

table.dataTable td.productProgress {
	padding: 0px;
	border: solid 1px #CCCCCC;
}

.ui-progressbar {
	height: 22px;
}

.productProgress .ui-widget-content {
	border: 0px;
	background: #eeeeee;
}

.productProgress .ui-progressbar-value {
	border-radius: 0px;
}

.productProgress .ui-corner-all {
	border-radius: 0px;
}

.progress-label {
	float: left;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	font-size: 0.8em;
	width: 100%;
	line-height: 22px;
	color: black;
}

#actions {
	font-size: 0.9em;
}

ul#actions li {
	margin: 2px;
	position: relative;
	cursor: pointer;
	float: left;
	list-style: none;
}

.iconWarning {
	margin-right: 2px;
	cursor: help;
	float: right;
}

/* styles related to the top bar and its elements */
#top-bar {
	height: 65px;
	display: block;
	background-color: #434343;
	padding: 10px 10px;
}

#top-bar #title {
	background-color: #434343;
	float: left;
	color: white;
}

#top-bar #container {
	height: 65px;
	color: white;
	text-align: center;
	line-height: 65px;
}

#top-bar #statusHolder {
	float: right;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-top: 25px;
}
/* end of top bar styles */

/* main section styles */
#main {
	display: block;
	position: relative;
	min-height: 600px;
}

#content {
	padding: 5px;
}

#main #content h1 {
	text-align: center;
	margin-bottom: 10px;
}

#manualDownloadForm label {
	display: inline-block;
	width: 80px;
	text-align: right;
}

/* end of main section styles */
.dataTable {
	border-collapse: collapse;
}

/* menu styles */
.ui-menu {
	z-index: 1000;
	padding: 0px;
	margin-left: 10px;
}
/* end of menu styles */

/* advanced configuration styles */
#tabs {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#tabs .ui-widget-header {
	background: #434343;
	border: solid 1px #878787;
}

#tabs.ui-widget-content,#tabs .ui-widget-content {
	background: white;
	color: black;
}

#configButtons {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}

/* end of advanced configuration styles */

.pageDescription {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.clearboth {
	clear: both;
	width: 0px;
	height: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#downloadStatusTable {
	margin-left: 5px;
}

.darDetails {
	margin: 2px;
	float: left;
}