<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />

	<bean id="settingsManager" class="int_.esa.eo.ngeo.downloadmanager.settings.SettingsManager" />

	<bean id="downloadManagerProperties" class="int_.esa.eo.ngeo.downloadmanager.configuration.DownloadManagerProperties" />

	<bean id="pluginManager" class="int_.esa.eo.ngeo.downloadmanager.plugin.PluginManager">
		<constructor-arg index="0">
			<ref bean="settingsManager" />
		</constructor-arg>
	
		<constructor-arg index="1">
			<ref bean="downloadManagerProperties" />
		</constructor-arg>
	</bean>
	
	<bean id="connectionPropertiesSynchronizedUmSsoHttpClient" class="int_.esa.eo.ngeo.downloadmanager.http.ConnectionPropertiesSynchronizedUmSsoHttpClient">
		<constructor-arg index="0">
			<ref bean="settingsManager" />
		</constructor-arg>
	</bean>
	
	<bean id="staticDarService" class="int_.esa.eo.ngeo.downloadmanager.service.StaticDarService">
		<constructor-arg index="0">
			<ref bean="connectionPropertiesSynchronizedUmSsoHttpClient" />
		</constructor-arg>
	</bean>
</beans>