<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />

	<bean id="settingsManager" class="int_.esa.eo.ngeo.downloadmanager.settings.SettingsManager" />

	<bean id="downloadManagerProperties" class="int_.esa.eo.ngeo.downloadmanager.configuration.DownloadManagerProperties" />

	<bean id="pluginManager" class="int_.esa.eo.ngeo.downloadmanager.plugin.PluginManager">
		<constructor-arg index="0">
			<ref bean="settingsManager" />
		</constructor-arg>
	
		<constructor-arg index="1">
			<ref bean="downloadManagerProperties" />
		</constructor-arg>
	</bean>
	
	<bean id="connectionPropertiesSynchronizedUmSsoHttpClient" class="int_.esa.eo.ngeo.downloadmanager.http.ConnectionPropertiesSynchronizedUmSsoHttpClient">
		<constructor-arg index="0">
			<ref bean="settingsManager" />
		</constructor-arg>
	</bean>
	
	<bean id="staticDarService" class="int_.esa.eo.ngeo.downloadmanager.service.StaticDarService">
		<constructor-arg index="0">
			<ref bean="connectionPropertiesSynchronizedUmSsoHttpClient" />
		</constructor-arg>
	</bean>
	
	<bean id="dataAccessRequestManager" class="int_.esa.eo.ngeo.downloadmanager.dar.DataAccessRequestManager">
        <constructor-arg index="0">
            <ref bean="dataAccessRequestDAO" />
        </constructor-arg>
	</bean>
	
    <bean id="downloadMonitor" class="int_.esa.eo.ngeo.downloadmanager.download.DownloadMonitor">
        <constructor-arg index="0">
            <ref bean="pluginManager" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="settingsManager" />
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="connectionPropertiesSynchronizedUmSsoHttpClient" />
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="dataAccessRequestManager" />
        </constructor-arg>
        <constructor-arg index="4">
            <ref bean="notificationManager" />
        </constructor-arg>
    </bean>
    
    <bean id="emailSender" class="int_.esa.eo.ngeo.downloadmanager.notifications.EmailSender" />

    <bean id="smtpServerDetailsBuilder" class="int_.esa.eo.ngeo.downloadmanager.notifications.SMTPServerDetailsBuilder" />

    <bean id="notificationManager" class="int_.esa.eo.ngeo.downloadmanager.notifications.NotificationManager">
        <constructor-arg index="0">
            <ref bean="settingsManager" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="emailSender" />
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="smtpServerDetailsBuilder" />
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="downloadManagerProperties" />
        </constructor-arg>
    </bean>
    
    <bean id="darMonitorController" class="int_.esa.eo.ngeo.downloadmanager.controller.DARMonitorController">
        <constructor-arg index="0">
            <ref bean="dataAccessRequestManager" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="downloadMonitor" />
        </constructor-arg>
    </bean>
    
    <bean id="darMonitor" class="int_.esa.eo.ngeo.downloadmanager.monitor.DARMonitor">
        <constructor-arg index="0">
            <ref bean="settingsManager" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="darMonitorController" />
        </constructor-arg>
        <constructor-arg index="2" >
            <ref bean="darMonitorScheduler" />
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="ngeoWebServerServiceHelper" />
        </constructor-arg>
    </bean>

    <bean id="ngeoWebServerServiceHelper" class="int_.esa.eo.ngeo.downloadmanager.webserver.NgeoWebServerServiceHelper">
        <constructor-arg index="0">
            <ref bean="ngeoWebServerRequestBuilder" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="ngeoWebServerService" />
        </constructor-arg>
        <constructor-arg index="2" >
            <ref bean="ngeoWebServerResponseParser" />
        </constructor-arg>
    </bean>

    <bean id="ngeoWebServerRequestBuilder" class="int_.esa.eo.ngeo.downloadmanager.webserver.builder.NgeoWebServerRequestBuilder" />

    <bean id="ngeoWebServerService" class="int_.esa.eo.ngeo.downloadmanager.webserver.service.NgeoWebServerService">
        <constructor-arg index="0">
            <ref bean="xmlWithSchemaTransformer" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="settingsManager" />
        </constructor-arg>
        <constructor-arg index="2" >
            <ref bean="connectionPropertiesSynchronizedUmSsoHttpClient" />
        </constructor-arg>
    </bean>

    <bean id="ngeoWebServerResponseParser" class="int_.esa.eo.ngeo.downloadmanager.webserver.builder.NgeoWebServerResponseParser">
        <constructor-arg index="0">
            <ref bean="xmlWithSchemaTransformer" />
        </constructor-arg>
    </bean>

    <task:scheduler id="darMonitorScheduler" />
</beans>